<div>

    <!--Spawn style:-->
    <!--<zelda-select choices="vm.spawnStyles" selection="vm.spawnStyle"></zelda-select>-->

    Enemy group:
    <zelda-select choices="vm.choices" selection="vm.selectedEnemyGroup" none-option="true"
            on-change="vm.selectedEnemyGroupChanged(newValue)"></zelda-select>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Enemy</th>
                <th>Strength</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="enemy in vm.enemyGroup.enemies">
                <td>{{enemy.type}}</td>
                <td>{{enemy.args[0]}}</td>
                <td>{{enemy.count}}</td>
            </tr>
        </tbody>
    </table>
</div>