 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{::title}}</h4>
</div>
<div class="modal-body">

    <form name="enemyForm">
        <div class="form-group">
            <label for="enemyType">Type</label>
            <!-- TODO: Use zelda-select instead -->
            <select id="enemyType" class="form-control">
                <option value="moblin">Moblin</option>
                <option value="octorok">Octorok</option>
                <option value="tektite">Tektite</option>
            </select>

        </div>

        <div class="form-group error">
            <label for="enemyCount">Count</label>
            <input type="number" class="form-control" id="enemyCount" placeholder="Count"
                    ng-model="enemyCount" required min="1" max="8" step="1">
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="onSubmit()" ng-disabled="enemyForm.$invalid" data-dismiss="modal">{{::submitButtonLabel}}</button>
    <button type="button" class="btn btn-primary" ng-click="onCancel()">Cancel</button>
</div>
