 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{::vm.title}}</h4>
</div>
<div class="modal-body">

    <form name="enemyForm">
        <div class="form-group">
            <label>Type</label>
            <zelda-select choices="vm.enemyChoices" selection="vm.selectedEnemy"></zelda-select>
        </div>

        <div class="form-group error">
            <label for="enemyCount">Count</label>
            <input type="number" class="form-control" id="enemyCount" placeholder="Count"
                    ng-model="vm.enemyCount" required min="1" max="8" step="1">
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.onSubmit()" ng-disabled="enemyForm.$invalid" data-dismiss="modal">{{::vm.submitButtonLabel}}</button>
    <button type="button" class="btn btn-primary" ng-click="vm.onCancel()">Cancel</button>
</div>
