@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap-theme.css');
@import url('../../node_modules/font-awesome/css/font-awesome.css');
@import url('../../node_modules/highlight.js/styles/default.css');

html, body {
    height: 100%;
}
.navbar {
    border-radius: 0; /* Remove 4-pixel radius in bootstrap default */
}
.navbar img.banner-img {
    width: 48px;
    height: 30px;
    display: inline;
}

.screen-canvas {
    /* 256x176 + 16-pixel buffer on all sides */
    width: 576px;
    height: 416px;
}
.tile-palette-canvas {
    width: 320px;
    height: 320px;
}

.code-viewer {

}

.code-viewer .widget-area {
    padding-bottom: 1rem;
}

.modifiable-table .modifiable-table-tool-bar {
    text-align: end;
    padding-bottom: 1rem;
}
.modifiable-table .modifiable-table-tool-bar button {
    padding: 0px 6px;
}

.tooltip-inner {
    white-space: nowrap; /* Needed for ModifiableTable's tool tips */
}
