<div class="modifiable-table">

    <div class="modifiable-table-tool-bar">
        <div class="btn-group" role="group" aria-label="Table Actions">
            <button class="btn btn-default" ng-click="vm.addRow()" uib-tooltip="Add row"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btn-default" ng-click="vm.removeRow()" uib-tooltip="Remove selected row" ng-disabled="vm.isDeleteDisabled()"><i class="fa fa-times" aria-hidden="true"></i></button>
            <button class="btn btn-default" ng-click="vm.moveRowUp()" uib-tooltip="Move selected row up" ng-disabled="vm.isUpDisabled()"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
            <button class="btn btn-default" ng-click="vm.moveRowDown()" popover-append-to-body="true" uib-tooltip="Move selected row down" ng-disabled="vm.isDownDisabled()"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </div>
    </div>

    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th ng-repeat="header in vm.headers">{{header.label}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rowData in vm.rows" ng-click="vm.setPrimary($event)">
            <td ng-repeat="header in vm.headers">{{rowData[header.cellKey]}}</td>
        </tr>
        </tbody>
    </table>

</div>